anyio==3.3.4
asgiref==3.4.1
atomicwrites==1.4.0
attrs==21.2.0
certifi==2021.5.30
charset-normalizer==2.0.6
click==8.0.1
colorama==0.4.4
comtypes==1.1.10
fastapi==0.70.0
greenlet==1.1.2
h11==0.12.0
idna==3.2
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
marshmallow==3.13.0
marshmallow-sqlalchemy==0.26.1
packaging==21.2
pi==0.1.2
pluggy==1.0.0
py==1.10.0
pydantic==1.8.2
pyodbc==4.0.32
pyparsing==2.4.7
pytest==6.2.5
pyttsx3==2.90
PyYAML==5.4.1
requests==2.26.0
six==1.16.0
sniffio==1.2.0
SpeechRecognition==3.8.1
SQLAlchemy==1.4.25
starlette==0.16.0
toml==0.10.2
typing_extensions==4.0.0
urllib3==1.26.7
uvicorn==0.15.0
validate-docbr==1.10.0
Werkzeug==2.0.1
